<h1>Welcome to Scrabble Score?</h1>
<form action="/word_score">
  <div class="form-group">
    <label>Submit a word to get your score!</label>
    <input id="word_score" type="text" class="form-control" name="word_score">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
