<h1>Your Score is...drumroll please...</h1>
<p><%= "The word \"#{@word}\" has a score of #{@word_score}!"%></p>
<form method="get" action="/">
     <input type="submit" id="submit-form" class="hidden" />
</form>
